* {
    margin: 0;
    padding: 0;
}

html {
    display: grid;
    place-content: center;
}

body {
    display: grid;
    width: 100dvmin;
    height: 100dvmin;
}

header {
    display: grid;
}


h1 {
    color: pink;
    text-align: center;
    margin: 2dvmin;
}

main {
    display: grid;
    place-content: center;
    
}

footer {
    display: grid;
}

small {
    display: grid;
    align-items: end;
    text-align: center;
}