* {
    margin: 0;
    padding: 0;
}

html {
    display: grid;
    place-content: center;
}

body {
    width: 100dvmin;
    height: 100dvmin;
}


h1 {
    color: pink;
    text-align: center;
    margin: 2dvmin;
}

main {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
}

#misanga {
    position: relative;
}

.gold {
    position: absolute;
    width: 2dvmin;
    height: 2dvmin;
    border-radius: 50%;
    background-color: gold;
}

.red {
    position: absolute;
    width: 2dvmin;
    height: 2dvmin;
    border-radius: 50%;
    background-color: red;
}

.blue {
    position: absolute;
    width: 2dvmin;
    height: 2dvmin;
    border-radius: 50%;
    background-color: blue;
}

footer {
    display: grid;
}

address {
    display: grid;
    align-items: end;
    text-align: center;
}

a {
    border: 0.1dvmin solid;
    padding: 2dvmin;
    margin: 1dvmin;
    text-decoration: none;
    text-align: left;
}

img {
    width: 10dvmin;
    height: 10dvmin;
}