body {
    background-color: black;
}

h1 {
    color: pink;
}

.dot {
    position: absolute;
    width: 0.1dvw;
    height: 0.1dvw;
    background-color: hotpink;
}


footer {
    position: absolute;
    top: 80dvmin;
}