body {
    background-color: #202020;
}

h1 {
    color: pink;
}

.dot {
    position: absolute;
    width: 0.2dvw;
    height: 0.2dvw;
    border-radius:  50%;
    background-color: pink;
}


footer {
    position: absolute;
    top: 80dvmin;
}

a,a:visited{
    color: #0071d1;/*カラーコードは任意*/
}